.grid{
  width: 100%;
  @extend .cf;
}

ul.grid{
  list-style-type: none;
}

[class*='col-']{
  box-sizing: border-box;
  float: left;
  padding: 0;
  min-height: 1px;
}

.grid-no-padding [class*='col-']{
  padding: 0;
}

@mixin setColWidth($a, $b){
  width : ($a / $b)*100%;
  @extend [class*='col-'];
}

.col-1, .col-1-1, .col-2-2, .col-3-3, .col-4-4, .col-5-5, .col-6-6{
  @include setColWidth(2, 2);
}

.col-1-2, .col-2-4, .col-3-6, .col-4-8, .col-5-10, .col-6-12{
  @include setColWidth(1, 2);
}

.col-1-3, .col-2-6, .col-3-9, .col-4-12{
  @include setColWidth(1, 3);
}

.col-2-3, .col-4-6, .col-8-12{
  @include setColWidth(2, 3);
}

.col-1-4, .col-2-8, .col-3-12{
  @include setColWidth(1, 4);
}

.col-3-4, .col-9-12{
  @include setColWidth(3,4);
}

.col-1-5, .col-1-10{
  @include setColWidth(1, 5);
}

.col-2-5{
  @include setColWidth(2, 5);
}

.col-3-5{
  @include setColWidth(3, 5);
}

.col-4-5{
  @include setColWidth(4, 5);
}

.col-1-6, .col-2-12{
  @include setColWidth(1, 6);
}

.col-5-6{
  @include setColWidth(5, 6);
}

.col-1-7{
  @include setColWidth(1,7);
}

.col-2-7{
  @include setColWidth(2,7);
}

.col-3-7{
  @include setColWidth(3,7);
}

.col-4-7{
  @include setColWidth(4,7);
}

.col-5-7{
  @include setColWidth(5,7);
}

.col-6-7{
  @include setColWidth(6,7);
}

.col-1-8{
  @include setColWidth(1, 8);
}

.col-3-8{
  @include setColWidth(3, 8);
}

.col-5-8{
  @include setColWidth(3, 8);
}

.col-6-8{
  @include setColWidth(6, 8);
}

.col-7-8{
  @include setColWidth(7, 8);
}

.col-1-9{
  @include setColWidth(1, 9);
}

.col-2-9{
  @include setColWidth(2, 9);
}

.col-4-9{
  @include setColWidth(4, 9);
}

.col-5-9{
  @include setColWidth(5, 9);
}

.col-6-9{
  @include setColWidth(6, 9);
}

.col-7-9{
  @include setColWidth(7, 9);
}

.col-8-9{
  @include setColWidth(8, 9);
}

.col-1-10{
  @include setColWidth(1, 10);
}

.col-3-10{
  @include setColWidth(3, 10);
}

.col-4-10{
  @include setColWidth(4, 10);
}

.col-6-10{
  @include setColWidth(6, 10);
}

.col-7-10{
  @include setColWidth(7, 10);
}

.col-8-10{
  @include setColWidth(8, 10);
}

.col-9-10{
  @include setColWidth(9, 10);
}

.col-1-11{
  @include setColWidth(1, 11);
}

.col-2-11{
  @include setColWidth(2, 11);
}

.col-3-11{
  @include setColWidth(3, 11);
}

.col-4-11{
  @include setColWidth(4, 11);
}

.col-5-11{
  @include setColWidth(5, 11);
}

.col-6-11{
  @include setColWidth(6, 11);
}

.col-7-11{
  @include setColWidth(7, 11);
}

.col-8-11{
  @include setColWidth(8, 11);
}

.col-9-11{
  @include setColWidth(9, 11);
}

.col-10-11{
  @include setColWidth(10, 11);
}

.col-1-12{
  @include setColWidth(1,12);
}

.col-1-12{
  @include setColWidth(1,12);
}

.col-5-12{
  @include setColWidth(5,12);
}

.col-7-12{
  @include setColWidth(7,12);
}

.col-10-12{
  @include setColWidth(10,12);
}

.col-11-12{
  @include setColWidth(11,12);
}