<!DOCTYPE html>
<html>
<head>
  <title>screenie</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <header>
    
  </header>
  <main>
    <div class="me">
      <img class="photo" src="/assets/img/img.png" />
      <h1 class="name">screenie</h1>
      <h3 class="tagline">screenshotting as a service</h3>
    </div>
    <div class="onboarding">
      <form class="createscreenshot js-createscreenshot">
        <h4>Take a screenshot</h4>
        <input type="text" class="url js-url" placeholder="URL to screenshot"/>
        <button type="submit" class="btn js-btn">Generate Screenshot</button><br>
        <a href="" class="viewlink" target=_blank>View Screenshot</a>
      </form>
    </div>
  </main>
</body>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/script.min.js"></script>
</html>