main {
  .onboarding {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 25px;
    font-size: 1.5em;
    color: $grey_font;
    .createscreenshot {
      text-align: center;
      h4 {
        margin: 20px 0 5px 0;
      }
      .url {
        font-size: 1em;
        width: 100%;
        margin: 0 auto;
      }
      .btn {
        font-size: 1em;
        padding: 8px 10px;
      }
      .viewlink {
        display: none;
      }
    }
  }
}